@import "tailwindcss";

:root {
  --background: #0b1026;
  --foreground: #ffffff;
  --font-shippori: "Shippori Mincho", "Yu Mincho", Light, "YuMincho", "Hiragino Mincho ProN", "Hiragino Mincho Pro", "HGS Mincho E", serif;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-serif: var(--font-shippori);
  
  --color-brand-blue: #0b1026;
  --color-brand-red: #d64040;
  --color-brand-gold: #ffd700;
  --color-brand-cream: #fffbf0;
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: var(--font-shippori);
  user-select: none;
  touch-action: none;
}
